<% include partials/header %>

<link rel="stylesheet" href="app.css">

<h1>This is the Homepage!</h1>

<img src="https://dgicdplf3pvka.cloudfront.net/2466898/pomsky-puppy-picture-036e962b-0ac0-46ce-9734-8c3911bc10d5.jpg">

<% include partials/footer %>